{% extends 'learning_logs/base.html' %}


{% block content %}
    <div class="container">
    
       

        <form action="{% url 'learning_logs:new_topic' %}" method="POST">

            {% csrf_token %}
          
            <div class="row">
                <div class="col-md-5">

                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Add New Topic</label>
                        <input type="text"  name="title" class="form-control" maxlength="200" id="exampleInputEmail1" aria-describedby="emailHelp">
                        
                    </div>
                </div>
            </div>

            <input class="btn btn-primary" type="submit" value="Add Topic">

        </form>
    </div>
{% endblock content %}
    